{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'image.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>SNS</h3>
</div>
{% endblock header %}
{% block content %}
{% if user.is_authenticated %}
<form class="deopdown-menu p-4 " method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputTitle" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputTitle" placeholder="暇だなー">
    </div>
    <div class="mb-3">
        <label for="exampleInputcontent" class="form-label">Content</label>
        <input type="text" name="content" class="form-control" id="exampleInputcontent" placeholder="今どうしてる？">
    </div>
    <p><input type="file" name="sns_image"></p>
    <input type="hidden" name='user_id' value="{{user.id}}">
    <input type="hidden" name='author' value="{{user.username}}">
    <button type="submit" class="btn btn-primary">create</button>
    <a href="{% url 'list' %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">cancel</a>
</form>

{% else %}
<p><a href="{% url 'login'%}">please login</a></p>
{% endif %}
{% endblock content %}