{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'image.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>FollowPage</h3>
    <div class="text-right">
        <a href="{% url 'list' %}" class="btn btn-primary pull-left" tabindex="-1" role="button" aria-disabled="true">AllPage</a>
    </div>
</div>
{% endblock header %}

{% block content %}
{% comment %} <a href="{% url 'profile' user.id %}">my profile</a> {% endcomment %}
{% if user.is_authenticated %}
<div class="container">
    <form method="GET" action="{% url 'list' %}">
        <input type="text" name="keyword">
        <button type="submit">検索</button>
        <a href="{% url 'list' %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">ホームへ</a>
        <a href="{% url 'profile' user.id  %}" class="btn btn-primary"  tabindex="-1" role="button" aria-disabled="true">My profile</a>
        <a href="{% url 'create' %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">create</a>
    </form>
    {% for item in follow_list %}
    <div class="alert alert-success" role="alert">
        <img src="{{object_profile.header_image.url}}" class="user-icon" >
        <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者：{{ item.author }}</p>
        <p>{{ item.pub_date|date:"Y-m-j H:i:s" }}</p>
        <a href="{% url 'good' item.pk %}" class="btn btn-primary "  tabindex="-1" role="button" aria-disabled="true">いいね{{item.good}}</a>
        <a href="{% url 'profile' item.user_id %}" class="btn btn-primary active" role="button" aria-pressed="true">投稿者のProfileへ</a>
    </div>
    {% endfor %}
    <a href="{% url 'logout' %}" >logout</a>
</div>
{% else %}
please login <a href="{% url 'login' %}" >login</a>
{% endif %}
{% endblock content %}