{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'image.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <img src="{{object_profile.header_image.url}}" class="user-icon" >
    <h3>{{object_profile.author}}のプロフィール</h3> 
    <p>{{object_profile.one_thing}}</p>
    <p>フォロー中:{{object_profile.follow_number}}</p>
    <p>フォロワー:{{object_profile.befollowed_number}}</p>
    
    {% if user.id == object_profile.user_id %}
    {% elif following %}
    <button type="button" class="btn btn-primary" disabled>Following</button>
    {% else %}
    <a href="{% url 'follow' object_profile.user_id %}" class="btn btn-primary active" role="button" aria-pressed="true">Follow</a>
    {% endif %}   
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <form method="GET" action="{% url 'list' %}">
        <input type="text" name="keyword">
        <button type="submit">検索</button>
        <a href="{% url 'list' %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">ホームへ</a>
        <a href="{% url 'profile' user.id  %}" class="btn btn-primary"  tabindex="-1" role="button" aria-disabled="true">My profile</a>
        <a href="{% url 'create' %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">create</a>
    </form>
    {% for item in object_board %}
    <div class="alert alert-success" role="alert">
        <p>タイトル: <a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者: {{ item.author }}</p>
        <p>{{ item.pub_date|date:"Y-m-j H:i:s" }}</p>
        <a href="{% url 'good' item.pk %}" class="btn btn-primary "  tabindex="-1" role="button" aria-disabled="true">いいね{{item.good}}</a>
        {% if item.author  == user.username %}
           <a href="{% url 'delete' item.pk %}" class="btn btn-primary "  tabindex="-1" role="button" aria-disabled="true">削除</a>
           <a href="{% url 'update' item.pk %}" class="btn btn-primary "  tabindex="-1" role="button" aria-disabled="true">編集</a>
        {% endif %}
    </div>
    {% endfor %}
    <a href="{% url 'logout' %}" class="btn btn-primary active" role="button" aria-pressed="true">logout</a>
</div>
{% endblock content %}