{% extends 'base.html' %}


{% block content %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <p>ひとこと<input type="text" name="one_thing"></p>
    <p>アイコン画像<input type="file" name="header_image"></p>
    <input type="hidden" name='user_id' value="{{user.id}}">
    <input type="hidden" name='author' value="{{user.username}}">
    <input type="hidden" name='follow_number' value={{0}}>
    <input type="hidden" name='follow_text' value="">
    <input type="hidden" name='befollowed_number' value={{0}}>
    <input type="hidden" name='befollowed_text' value="">
    <input type="submit" value="profilecreate">
</form>
{% endblock content %}