{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<form class="form-signin text-center" method="POST">{% csrf_token %}
	{{ error }}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text " id="inputEmail" class="form-control" placeholder="username" name='username' required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password'　required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>
{% endblock content %}