{% extends 'base.html' %}
{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>SNS</h3>
    <div class="text-right">
        <a href="{% url 'followpage' user.id  %}" class="btn btn-primary pull-left" tabindex="-1" role="button" aria-disabled="true">FollowPage</a>
    </div>
</div>
{% endblock header %}
{% block content %}

{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<p>title:<input type="text" name="title"></p>
<p>content:<input type="text" name="content"></p>
<p><input type="file" name="sns_image"></p>
<input type="hidden" name="author" value="{{ user.username }}">

<input type="submit" value="create">
</form>
{% else %}
please login
<a href="{% url 'login' %}" >login</a>
{% endif %}
{% endblock content %}